# Cache
.DS_Store
.venv/
dnnlib/__pycache__/
torch_utils/__pycache__/
training/__pycache__/
__pycache__/

# Folders to keep clean in the git
datasets/*
training-runs/*
out/*
fid-refs/*

# Keep the previous folders empty
!**/.gitkeep

# PDF files
*.pdf
